h1 {
  margin:0;
  padding: 0;
}

.header {
  height: 100px;
  background-color: #4cd9f3;
  color: white;
  text-align: center;
}

.header h1 {
  line-height: 100px;
}

.menu {
  margin: 10px 0;
  text-align: center;
}

.menu a {

}
