<pre>
  Model via JsonPipe: {{checkModel | json}}
</pre>

<div class="btn-group">
  <label class="btn btn-primary" [(ngModel)]="checkModel.left" btnCheckbox>Left</label>
  <label class="btn btn-primary" [(ngModel)]="checkModel.middle" btnCheckbox>Middle</label>
  <label class="btn btn-primary" [(ngModel)]="checkModel.right" btnCheckbox>Right</label>
</div>

<pre class="card card-block card-header">{{radioModel || 'null'}}</pre>

<div class="btn-group">
  <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Left">Left</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Middle">Middle</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Right">Right</label>
</div>
